In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
df = pd.DataFrame({
    'color': ['red', 'green', 'blue', 'black', 'white', 'yellow']
})

In [18]:
encoder = OneHotEncoder()

In [19]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [21]:
import pandas as pd

encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [22]:
encoder_df

   color_black  color_blue  color_green  color_red  color_white  color_yellow
0          0.0         0.0          0.0        1.0          0.0           0.0
1          0.0         0.0          1.0        0.0          0.0           0.0
2          0.0         1.0          0.0        0.0          0.0           0.0
3          1.0         0.0          0.0        0.0          0.0           0.0
4          0.0         0.0          0.0        0.0          1.0           0.0
5          0.0         0.0          0.0        0.0          0.0           1.0